.transaction-history {
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px -10px rgba(66, 68, 90, 1);
}

thead {
  background-color: rgb(0, 183, 255);
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
  text-transform: capitalize;
  color: rgb(78, 78, 78);
  font-size: 14px;
  text-align: center;
  width: 150px;
}

tbody tr:nth-child(2n) {
  background-color: rgb(229, 238, 243);
}

tbody tr:nth-child(2n + 1) {
  background-color: white;
}
